<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".internal.ui.screen.detail.CrashDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_crash_details"
            android:theme="@style/Theme.CrashGrabber" />
        <activity
            android:name=".internal.ui.screen.main.CrashGrabberMainActivity"
            android:exported="false"
            android:label="@string/title_activity_crash_grabber_main"
            android:theme="@style/Theme.CrashGrabber" />
    </application>

</manifest>